/venv/
.idea/
pip-log.txt
pyvenv.cfg
__pycache__/
tmp.wav
archive/*
!archive/.gitkeep
locks/

# Packages
*.egg
*.egg-info
dist/
build/
eggs/
parts/
var/
sdist/
develop-eggs/
.installed.cfg
/test/venv/
/speach_text/model_ru/
/speach_text/model_big/
/flask_server/archive/
/speach_text/file_text/
/speach_text/file_wav/
/speach_text/learn_model/
